@model AccountLoginViewModel
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <section class="card shadow-lg p-4">
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                </div>

                <form id="account" method="post" asp-controller="Account" asp-action="Login">
                    <div class="form-group mb-4">
                        <label for="UserName" class="form-label">Потребителско име</label>
                        <input asp-for="UserName" id="UserName" class="form-control" autocomplete="username" aria-required="true" />
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-4">
                        <label for="Password" class="form-label">Парола</label>
                        <input asp-for="Password" id="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-success btn-lg fw-bold text-white rounded-pill px-5 py-3 shadow-lg w-100">
                            Вход
                        </button>
                    </div>

                    <div class="text-center">
                        <p>
                            <a class="text-decoration-none" asp-action="Register" asp-controller="Account">
                                Регистрирай се
                            </a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <script src="~/js/Account/LoginValidation.js"></script>
</body>
</html>
