@model AccountResetPasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смяна на парола</title>
    <link rel="stylesheet" href="~/css/Account/ResetPassword.css">
</head>
<body>
    <div class="reset-password-container">
        <h1>Смяна на парола</h1>
        <p>Попълнете данните за смяна на паролата.</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="ResetPassword" method="post" class="reset-password-form">
            <div class="form-group">
                <label for="OldPassword">Текуща парола</label>
                <input asp-for="OldPassword" class="form-control" id="OldPassword" type="password" required />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="NewPassword">Нова парола</label>
                <input asp-for="NewPassword" class="form-control" id="NewPassword" type="password" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label for="NewPasswordRepeat">Повтори новата парола</label>
                <input asp-for="NewPasswordRepeat" class="form-control" id="NewPasswordRepeat" type="password" required />
                <span asp-validation-for="NewPasswordRepeat" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Смяна</button>
        </form>
    </div>

</body>
</html>
