@model CreateEnquiryViewModel

<h2>ЗАДАЙ СВОЯ ВЪПРОС</h2>

<form asp-action="CreateEnquiry" method="post">
    <div class="form-group">
        <label for="ClientName">Пълно име</label>
        <input asp-for="ClientName" class="form-control" />
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ClientBirthDate">Дата на раждане</label>
        <input asp-for="ClientBirthDate" class="form-control" type="date" />
        <span asp-validation-for="ClientBirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Желан резултат</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="EnquiryTypeId">Избери си вид гадаене</label>
        <select asp-for="EnquiryTypeId" class="form-control" asp-items="@(new SelectList(Model.EnquiryTypes, "Id", "Name"))">
            <option value="" disabled selected>-- Избери вид гадаене --</option>
        </select>
        <span asp-validation-for="EnquiryTypeId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="EnquiryTypeId">Избери си гадател</label>
        <select asp-for="SeerId" class="form-control" asp-items="@(new SelectList(Model.Seers, "Id", "ApplicationUser.UserName"))">
            <option value="" disabled selected>-- Избери гадател --</option>
        </select>
        <span asp-validation-for="SeerId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ClientId" value="@Model.ClientId" />

    <button type="submit" class="btn btn-success">Изпрати</button>
</form>

