<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seer Enquiries</title>
    <link rel="stylesheet" href="~/css/Home/index-styles.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="text-content">
            <h1>Сега е твоето време!</h1>
            <p>Нека магията на бъдещето ти разкрие своите тайни. Въведи въпрос и остави вселената да ти отговори!</p>

            <h2>Какво те чака в утрешния ден?</h2>
            <p>Смело се потопи в света на мистиката и открий какво носи твоето бъдеще. Готов ли си за открития?</p>

            <h3>Съдбата е в твоите ръце!</h3>
            <p>Няма никакви случайности, само възможности. Погледни в магичната сфера и виж какво ще ти разкрие тя.</p>

            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Client" asp-action="CreateEnquiry" asp-route-userId="@User.Id()">
                    <div class="magic-ball-container">
                        <div class="magic-ball" id="magic-ball">
                            <div class="glow"></div>
                        </div>
                    </div>
                </a>
            }
            @if(!User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Register">
                    <div class="magic-ball-container">
                        <div class="magic-ball" id="magic-ball">
                            <div class="glow"></div>
                        </div>
                    </div>
                </a>
            }


            <p class="call-to-action">Остави се на течението, намери своя път и разкрий магията на живота!</p>
        </div>
    </div>
</body>
</html>
